.app {
  background-color: #ffffff;
  margin: 5px auto;
  max-width: 60%;
  z-index: 1;
  padding: 60px;
}

header {
  width: 40%;
  background-color: #ffffff;
  padding: 40px;
  z-index: 2;
}

.menu-icon {
  padding: 5px;
  margin: 5px;
}

.cart-icon {
  padding: 5px;
  margin: 5px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.content {
  padding: 20px;
  text-align: center;
}

.image-slider {
  position: relative;
  z-index: 1;
}

.image-slider img {
  width: 100%;
  display: none;
}

.image-slider img.active {
  display: block;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider-controls span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.slider-controls span.active-dot {
  background-color: #000;
}

.popular-glasses {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.glasses-item {
  margin: 0 10px 20px;
  text-align: center;
}

.Logo {
  width: 10em;
  height: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.title {
  flex-grow: 1;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .content {
    padding: 30px;
  }

  header {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
  }

  .menu-icon {
    font-size: 24px;
  }

  .cart-icon {
    font-size: 24px;
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    padding-right: 100px;
    padding-left: 100px;
  }

  header {
    padding: 10px 50px;
  }

  .menu-icon {
    font-size: 30px;
    margin-right: 20px;
  }

  .cart-icon {
    font-size: 30px;
    margin-left: 20px;
  }
}
