body{
  background-color: #9A9A9A;
  margin: 1em;
}

.app {
  background-color: #D9D9D9;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
  padding: 10px;
}

.menu-icon {
  padding: 5px;
  margin: 5px;
  background-color: #9A9A9A;
}
  
.cart-icon {
  padding: 5px;
  margin: 5px;
}

.content {
  padding: 20px;
  text-align: center;
}

.image-slider {
  position: relative;
}

.image-slider img {
  width: 100%;
  display: none;
}

.image-slider img.active {
  display: block;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider-controls span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.slider-controls span.active-dot {
  background-color: #000;
}

.popular-glasses {
  margin-top: 20px;
  display: inline-block; 
}

.glasses-item {
  margin-bottom: 20px;
}

.Logo {
  width: 10em;
  height: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
}