body {
  background-color: #9A9A9A !important;
  margin: 1em;
}

.app {
  background-color: #ffffff;
  margin: 5px auto; /* Ajustado el margen para proporcionar espacio en los lados */
  max-width: 100%; /* Modificado a 100% para ocupar todo el ancho disponible */
  z-index: 1;
  padding: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.menu-icon {
  padding: 5px;
  margin: 5px;
  background-color: #9A9A9A;
}

.cart-icon {
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.content {
  padding: 20px;
  text-align: center;
}

.image-slider {
  position: relative;
  z-index: 1;
}

.image-slider img {
  width: 100%;
  display: none;
}

.image-slider img.active {
  display: block;
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.slider-controls span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.slider-controls span.active-dot {
  background-color: #000;
}

.popular-glasses {
  margin-top: 20px;
  display: inline-block;
}

.glasses-item {
  margin-bottom: 20px;
}

.Logo {
  width: 10em;
  height: 10em;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.title {
  flex-grow: 1;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .content {
    padding: 30px;
    padding-right: 100px;
    padding-left: 100px;
  }

  header {
    padding: 10px 30px;
    display: grid; 
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
  }

  .menu-icon {
    font-size: 24px;
    margin-right: 10px; 
  }

  .title {
    text-align: center;
  }

  .cart-icon {
    font-size: 24px;
    margin-left: 10px; 
    justify-self: end; 
  }
}

@media only screen and (min-width: 1000px) {
  .content {
    padding: 30px;
    padding-right: 300px;
    padding-left: 300px;
  }

  header {
    padding: 10px 50px;
    grid-template-columns: 1fr auto 1fr; 
  }

  .menu-icon {
    font-size: 30px;
    margin-right: 20px; 
  }

  .title {
    text-align: center;
  }

  .cart-icon {
    font-size: 30px;
    margin-left: 20px; 
    justify-self: end; 
  }
}
